.reviews {
    li {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 14px;
    }

    .icon {
        width: 19px;
        height: 17px;
        padding-left: 8px;
        padding-top: 6px;

        use {
            fill: #fff;
        }
    }
}